[init]
	defaultBranch = trunk
[user]
	signingkey = 25BCE3C253935ABE
	email = raysuliteanu@gmail.com
	name = Ray Suliteanu
[commit]
	gpgsign = true
[core]
	autocrlf = input
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	line-numbers = true
	hyperlinks = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	co = checkout
	sw = switch
[rerere]
	enabled = true
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	updateRefs = true
